section#about {
  background-color: $blush;
  padding: 4em 1.5em;
  position: relative;
  a {
    color: $gold;
  }
  .about-bttn {
    background-color: $gold;
    color: $blush;
  }
  .about-bttn:hover {
    background-color: $white;
    color: $gold;
  }
}

// section#about:before, section#about:after {
//   background: $blush;
//   content: '';
//   display: block;
//   height: 190px;
//   width: 120%;
//   position: absolute;
//   left: 50%;
//   -webkit-transform-origin: center top;
//   transform-origin: center top;
//   z-index: 150;
// }
//
// section#about:before {
//   bottom: 100%;
//   -webkit-transform: rotate(-3deg) translateX(-50%);
//   transform: rotate(-3deg) translateX(-50%);
// }
//
// section#about:after {
//   bottom: -10%;
//   -webkit-transform: rotate(-3deg) translateX(-50%);
//   transform: rotate(-3deg) translateX(-50%);
// }
