html,
body {
  font-family: $font-family, Helvetica ,Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: .01rem;
  height: 100%;
  margin: 0;
}

body {
  background-color: $white;
  color: $gold;
  display: flex;
  flex-direction: column;
  // height: 175vh;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
}

// body:before {
//   background-color: $blush;
//   content: "";
//   display: flex;
//   position: absolute;
//   left: -345px;
//   top: 0;
//   bottom: 0;
//   transform: skew(-30deg);
//   width: 690px;
//   // width: 1425px;
// }

header, .container, .container-fluid {
  flex: 1 0 auto;
}

.hide {
  display: none;
}
