html,
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  height: 100%;
  margin: 0;
}

body {
  background-color: $navy-blue;
  color: $gold;
  display: flex;
  flex-direction: column;
  // padding: 2rem;
  height: 100vh;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
}

body:before {
  background: $blush;
  content: "";
  position: absolute;
  left: -345px;
  top: 0;
  bottom: 0;
  transform: skew(-30deg);
  width: 1425px;
}

header, .container, .container-fluid {
  flex: 1 0 auto;
}

#blush-line, #white-line, #gold-line {
  margin: 2px 0;
  z-index: 10px;
}

#blush-line {
  border: 2px solid $blush;
}

#white-line {
  border: 2px solid $white;
}

#gold-line {
  border: 2px solid $gold;
}

#header-line {
  margin: 7.75rem -7.75rem 0;
}
