.agent-1 {
  margin: 3.5rem 0 0 3.25rem;
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 1.25s;
}

hr {
  border: 1px solid $navy-blue;
}

.agent-2 {
  font-size: 18px;
  font-family: $font-header-bold, Arial, sans-serif;
  color: $navy-blue;
  opacity: 0;
  padding: 0 .5rem;
  animation: fade-in-right ease 0.4s forwards;
  animation-delay: 1.5s;
}

.agent-2:hover {
  color: $gold;
  font-weight: bold;
}


@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
