h1, h2, h3,  h4, h5, h6 {
  font-family: $font-header-bold, Helvetica, Arial, sans-serif;
}

p {
  font-size: 16px;
  margin: .5rem auto;
}

strong, .bold {
  font-weight: bold;
}

.initial-header, .initials {
  color: #D28C0E;
  font-family: $font-init-header, Helvetica, Arial, sans-serif;
  font-weight: 100;
  -webkit-animation: glow .9s infinite alternate;
  animation: glow .9s infinite alternate;
  z-index: 100;
}

.initial-header {
  font-size: 8rem;
}

.initials {
  font-size: 5rem;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

// #j {
//   &.reduce {
//     transform: scale(0.5) translate(50%, 585%);
//   }
// }
//
// #l {
//   &.reduce {
//     transform: scale(0.5) translate(-50%, 600%);
//   }
// }

@keyframes glow {
  to {
    text-shadow: 0 0 10px $gold;
  }
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}
