<section id="contact">
  <h2 id="email" class="mx-auto center mt--20"><a href="mailto:hijennylai@gmail.com">hijennylai@gmail.com</a></h2>
  <div class="content-row mx-auto center">
    <div class="">
      <a href="https://github.com/jenlaister" target="_blank" class="icon"><img src="../_assets/img/icons/github.svg" /></a>
    </div>
    <div class="">
      <a href="https://www.linkedin.com/in/jenny-lai-a4372156/" target="_blank" class="icon"><img src="../_assets/img/icons/linkedin.svg" /></a>
    </div>
    <div class="">
      <a href="https://codepen.io/jenlaister" target="_blank" class="icon"><img src="../_assets/img/icons/code-pen.svg" /></a>
    </div
    <div class="">
      <a href="https://medium.com/@jennylaister" target="_blank" class="icon"><img src="../_assets/img/icons/medium.svg" /></a>
    </div>
  </div>
</section>
