<section id="nav" class="hide">
  <div class="content-row">

    <div class="col-1-2">
      <div id="initials" class="content-row">
        <h1 id="j" class="initials mt-95">J</h1>
        <h1 id="l" class="initials">L</h1>
      </div>
    </div>

    <div class="col-1-2">
      <div class="content-row">
        <div class="col-1-2">
          <hr class="agent-1"/>
        </div>
        <div class="col-1-2">
          <ul id="nav-list">
            <li>
              <a href="#about" class="agent-2">About</a>
            </li>
            <li>
              <a href="#projects" class="agent-2">Projects</a>
            </li>
            <li>
              <a href="mailto:hijennylai@gmail.com?Subject=Hey%20Jenny!" class="agent-2">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
