<header class="hide">
    <hr class="agent-1"/>
    <ul id="nav-list">
      <li>
        <a href="#about" class="agent-2">About</a>
      </li>
      <li>
        <a href="#projects" class="agent-2">Projects</a>
      </li>
      <li>
        <a href="#contact" class="agent-2">Contact</a>
      </li>
      <!-- <li><a href="{{ global.links.home }}">Home</a></li>
      <li><a href="{{ global.links.page_1 }}">Page link</a></li> -->
    </ul>
</header>
