<section id="personal-projects">
  <div class="content-row">
    <div id="project-img-container" class="col-1-2" mx-auto center>
      <img class="project" src="../_assets/img/projects/space_cadet.gif" alt="space cadet"/>
      <!-- <img class="project" src="../_assets/img/projects/curate.it.gif" alt="curate it"/>
      <img class="project" src="../_assets/img/projects/two_cents.gif" alt="two cents"/> -->
    </div>
    <div class="col-1-2">
      <div id="personal-header">
        <h1>PERSONAL<br />WORK</h1>
      </div>
      <div class="content-col projects-container">
        <div class="project-blurb">
          <a href="https://github.com/jenlaister/space_cadet" target="_blank"><h3>Space Cadet</h3></a>
          <p>An animated game built with JavaScript and jQuery<br>Help Naut, the astronaut dog get from one side of the board to the other without colliding into any asteroids along the way or else it's GAME OVER! When Naut safely makes it across the board, congrats you WIN!</p>
          <a class="project-link" href="http://jennylai.co/space_cadet/" target="_blank">&mdash;Play the Game!</a>
        </div>
        <div class="project-blurb">
          <a href="https://github.com/jenlaister/curate-it-react" target="_blank"><h3>curate.it</h3></a>
          <p>A personalized art gallery built with a RESTful API/Ruby on Rails back end and a JavaScript/React, Redux front end.<br>Create your own art gallery with your collection of curated art pieces pulled from Harvard’s Art Museums API.</p>
          <a class="project-link" href="http://it-do-curate.herokuapp.com/" target="_blank">&mdash;Create your own gallery!</a>
        </div>
        <div class="project-blurb">
          <a href="https://github.com/jenlaister/Two-Cents-Gem" target="_blank"><h3>Two Cents</h3></a>
          <p>Command line gem built with ruby.<br>A published ruby gem that gives you a random cat ascii artwork, quotes and allows you to query Google from your terminal.</p>
          <a class="project-link" href="https://rubygems.org/gems/two_cents" target="_blank">&mdash;Get the gem!</a>
        </div>
      </div>
    </div>
  </div>
</section>
