<section id="professional-projects">
  <h3>Websites</h3>
  <div class="content-row">
    <div class="">
      <p>
        Lead on Phase II & Relaunch / Development
      </p>
      <a href="https://www.vemlidyhcp.com/" target="_blank" class="project-link"> Vemlidy HCP (Healthcare Professionals)</a>
      </p>
    </div>
    <div class="">
      <p>
        Lead on Phase II & Relaunch / Development
      </p>
      <a href="https://hepbmd.com/" target="_blank" class="project-link">HepB MD</a>
    </div>
    <div class="">
      <p>
        Initial Build & Launch / Development
      </p>
      <a href="https://www.ntmfacts.com/" target="_blank" class="project-link">NTM Facts</a>
    </div>
    <div class="">
      <p>
        Implemented Analytics Tagging & Updates / Development
      </p>
      <a href="https://www.trulance.com/" target="_blank" class="project-link">Trualnce</a>
    </div>
    <div class="">
      <p>
        Updates + Sitecore / Development
      </p>
      <a href="https://www.vemlidy.com/" target="_blank" class="project-link">Vemlidy</a>
    </div>
  </div>
  <h3>Banners</h3>
  <div class="content-row">
    <div class="">
      <img class="p-project" src="../_assets/img/projects/xospata_1.gif" alt="xospata banner"/>
    </div>
    <div class="">
      <img class="p-project" src="../_assets/img/projects/xospata_2.gif" alt="xospata banner"/>
    </div>
    <div class="">
      <img class="p-project" src="../_assets/img/projects/arikayce.gif" alt="arikayce banner"/>
    </div>
    <!-- <div class="">
      <img class="p-project" src="../_assets/img/projects/trulance_1.gif" alt="trulance banner"/>
    </div> -->
    <div class="">
      <img class="p-project" src="../_assets/img/projects/trulance_2.gif" alt="trulance banner"/>
    </div>
  </div>
</section>
