@font-face {
  font-family: 'Prism-Regular';
  src: url('../fonts/Prism-Regular.otf');
}

@font-face {
  font-family: 'Butler_Black';
  src: url('../fonts/Butler_Black.otf');
}


@font-face {
  font-family: 'Butler_Bold';
  src: url('../fonts/Butler_Bold.otf');
}

@font-face {
  font-family: 'Butler_ExtraBold';
  src: url('../fonts/Butler_ExtraBold.otf');
}

@font-face {
  font-family: 'Butler_Light';
  src: url('../fonts/Butler_Light.otf');
}

@font-face {
  font-family: 'Butler_Medium';
  src: url('../fonts/Butler_Medium.otf');
}

@font-face {
  font-family: 'Butler_Regular';
  src: url('../fonts/Butler_Regular.otf');
}

@font-face {
  font-family: 'Butler_Ultra_Light';
  src: url('../fonts/Butler_Ultra_Light.otf');
}
