$color--main: #06f;
$color--border: lighten($color--main, 20%);

body {
   padding: 100px;
   background-color: $mint-grn;
   font-family: $bodyFont;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(6, 1fr);
   grid-row-gap: .75rem;
   grid-column-gap: .5rem;
   grid-template-areas:
    "header  header header header"
    "social-nav projects projects projects"
    "footer  footer footer footer";
    min-height: 100%;
   p {
      padding: 25px;
      text-align: center;
      line-height: 1.9;
   }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
