//name

.underline > a {
  font-size: 2.5em;
  line-height: 64px;
  font-weight: 400;
  color: #000;
  position: relative;
  text-decoration: none;
}

.underline > a:hover {
  color: #000;
}

.underline > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.underline > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-column: 1 / 4;
  float: right;
  margin: 3.75em 2.75em 0 0;
}

.name-blurb {
  float: right;
  margin: 7.75em .25em 0 0;
}

#social-nav {
  grid-area: social-nav;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 3em 1em;
  position: fixed;
  z-index: 1000;
}

.social-icons {
  grid-column: 1 / 2;
  width: 1.75em;
}

#projects {
  align-items: center;
  display: grid;
  justify-items: center;
  grid-area: projects;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: .75rem;
  grid-column-gap: .5rem;
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 3rem;
}

.project-blurb {
  text-align: center;
  padding: 2em 0;
   grid-column: 2 / 4;
}

.project-name {
  color: #0659ad;
  font-size: 1.75em;
  margin: .75em auto;
  text-decoration: none;
}

.project-name:hover {
  color: #95d0d0;
}

.project-link {
  color: #f6c3ad;
  text-decoration: none;
}

.project-link:hover {
  color: #f29a7e;
  font-weight: bold;
}

h5 {
  margin: .25em auto;
}

img {
  max-width: 480px;
}

.move {
  margin: .75em .75em 0 0;
}

#footer {
  grid-area: footer;
}
