a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
section,
samp,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
   margin: 0;
   border: 0;
   padding: 0;
   vertical-align: baseline;
   font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
   display: block;
}

body {
   line-height: 1;
   font-family: 'Open Sans', sans-serif;
}

ol,
ul {
   list-style-type: none;
}

blockquote,
q {
   quotes: none;

   &::before,
   &::after {
      content: none;
   }
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}


* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid black;
}

ul, ol {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

button {
  border: none;
  &:focus {
    outline: none;
  }
}


//This reset is here as part of a hack to get svgs to scale correctly when inline in your markup
//The hack is detailed here: https://css-tricks.com/scale-svg/
svg {
  height: 1px;
  overflow: visible ! important;
  width: 100%;
}
